<div class="row">
  <div class="small-12 columns case">
    <h2 class="title">
      <%= @kase.subject %>
    </h2>
    <div>
      <%= @kase.blurb %>
    </div>
    <br>
    <%= render partial: "/labels/short_list", locals: { local_labels: @kase.labels } %>
  </div>
</div>
