<div class="row">
  <div class="small-12 columns">
    <div class="card">
      <div class="content">
        <a href="<%= case_path(@kase.id) %>">
          <%= @kase.subject %>
        </a>
        <br>
        <div>
          <%= @kase.blurb %>
        </div>
        <br>
        <div class="labels">
          Labels: <%= @kase.labels.join(', ') %>
        </div>
      </div>
    </div>
  </div>
</div>
