<div class="row">
  <div class="small-8 small-centered columns">
    <h1>Welcome!</h1>
    <h3>Please select a filter to look into specific cases</h3>
  </div>
</div>

<div class="row">
  <div class="small<%  %>4 columns">
    <ul class="side-nav">
      <% @filters.each do |filter| %>
        <li>
          <a href="./filters/<%= filter.id %>">
            <%= filter.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
