<div class="row">
  <div class="small-10 columns">
    <h4>
      Cases by filter: <strong><%= @filter.name %></strong>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="side-nav">
      <% @cases.each do |kase| %>
        <li>
          <a href="./cases/<%= kase.id %>">
            <%= kase.subject %>
          </a>
        </li>
        <%= kase.labels %>
      <% end %>
    </ul>
  </div>
</div>
