<div class="row">
  <div class="small-10 columns">
    <h4>
      Filter: <strong><%= @filter.name %></strong>
    </h4>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="side-nav">
      <% @cases.each do |kase| %>
        <div class="card">
          <div class="content">
            <a href="<%= case_path(kase.id) %>">
              <%= kase.subject %>
            </a>
            <br>
            <div class="labels">
              Labels: <%= kase.labels.join(', ') %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
